{% extends 'base.html'%}
{% load bootstrap3 %}

{% block styles %}
<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/united/bootstrap.min.css" rel="stylesheet" integrity="sha384-+d4wMJSxEP3vzs2qZBElQRTZMXwgWH15Nyn2K/9XjKiHmh3sBuk1Un/IbcdMcYC4" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
{% endblock %}

{%block content%}

<!-- <div class='col-md-8 card mb-4  mt-3 ' style="text-align: center; color:orangered; font-family: 'Montserrat'; font-size: 8px">
  <div >
    {% if comments %}
    
    <div class='alert alert-success' role="alert">
        Your comment is awaiting verification  to see whether community guidelines have been observer
    </div>
    {% else %}
    <p>Leave a comment </p>
    <form method="POST" action="{% url 'comment' renter.id %}">
        {% csrf_token%}
        {% bootstrap_form comment_form%}
        <input type='submit' class='btn btn-primary'>
    </form>
    {% endif %}
  </div>
</div>  -->
<p></p>
<p></p>
<div class='container' style="text-align: center;">
  <div>
    <div class='row'>
      <div class="col-md-7 ">
          <div >
            {% if new_comment %}
            <div class="jumbotron " role="danger" style="height: 4px;width: auto;">
              Your comment is awaiting verification to check whether community guidelines have been met
            </div>
            {% else %}
            <h3>Leave a comment</h3>
            <form method="post" style="margin-top: 1.3em;">
              {{ comment_form.as_p }}
              {% csrf_token %}
              <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
            </form>
            {% endif %}
          </div>
        
  </div>
</div>
{%endblock%}

            
