{% extends "base.html" %}

{% block content %}
    <div class='container' style="font-family: 'Montserrat'; text-align: center;">
        <div class='row'>
            {% if renters %}
                <p>Found {{renters|length}} bike lessors in price range {{message}}</p>
            {% else %}
                <p>No bike lessors available in price range{{message}}</p>
            {% endif %}
        </div>
        <p></p>
        <br>
        <div class='row' style="padding-right: 4px;margin: 3px;">
            {% if renters %}
                {% for renter in renters %}
                    <div class='col-md-6'>
                        <p>{{renter.first_name}} {{renter.second_name}}</p>
                        <p>{{renter.contact}}</p>
                        <p>{{renter.email}}</p>
                        <img src="{{renter.image.url}}" alt="Bicycle Image" height="250px" width="auto">
                    </div>
                {%endfor%}
            {% endif %}
        </div>
    </div>
{%endblock%}