{%extends 'base.html'%}
{%block styles%}
{{block.super}}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
{%endblock%}

{% block content %}
<div class="main" style="font-family: 'Montserrat'; display: ruby-base-container; background-color: 353535;">
    <div class="jumbotron" style="background-color: 353535; height: 48px; width: auto;">
        <h1 style="text-align: center; color: indigo;" >Ollies Bikes Rental Services</h1>  
    </div>
</div>
<div>
    <marquee style="font-family: 'Montserrat'; scroll-behavior: smooth; shape-rendering: geometricPrecision; font-size: larger; color:beige">This web application allows the user to upload projects they have worked on before and also rate those of other users</marquee>
</div>
<h2 class="text-center" style="font-family: 'Montserrat'; background-color: #353535; font-size: larger; font-weight: 900; color: ivory;">Samples of my projects</h2>
<hr>
<div class="projects" style="font-family: 'Montserrat'; font-size: larger; font-weight: 900; background-color:#353535;">
    {%for renter in renters%}
    <div class="project card">

       
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <p>{{renter.first_name}}</p>
                    <p>{{renter.second_name}}</p>
                    <p>{{renter.contact}}</p>
                    <p>Hourly Charges in Ksh {{renter.charges}}</p>
                    <p>Available in {{renter.location}}</p>
                    <p>Bike description{{renter.description}}</p>
                </div>
                <div class="col-md-3">
                    <img src="{{renter.image.url}}" alt="Bicycle Image" height="100px" width="auto">
                </div>
            </div>
            

        </div>

    </div>

    {%endfor%}

</div>

{%endblock%}