<nav class="navbar navbar-inverse" style="background-color: #353535; color: aliceblue; font-size: 20px;font-family: 'Montserrat';">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="nav navbar-brand" style="font-size: large;">
          <a href="{% url 'home' %}">Home</a>
        </div>
        <div class="nav navbar-brand" style="font-size:large;">
          <a href="{% url 'about' %}">About Us</a>
        </div>
        
      </div>

      
      {% if user.is_authenticated%}
      
      <div class="navbar-brand" style="font-size:large;">
        <a href="{% url 'logout' %}">Logout</a>
      </div>

      <div class="nav navbar-brand" style="font-size:large;">
        <p>Welcome back {{user.username}}</p>
      </div>
      {% else %}
      <div class="nav navbar-brand" style="font-size: large;">
        <a href="{% url 'login' %}">Login</a>
      </div>
      {% endif %}
      <div class="col-sm-2 col-md-3 navbar-left" style="font-size: large;">

        <form class="navbar-form" role="search" action="{% url 'search_results' %}" style="font-size: 10px;">

          <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter the search location" name="location">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
          </div>

        </form>
      </div>
      <form class="navbar-form" role="filter" action="{% url 'filter_price' %}">

        <div class="input-group">
          <input type="text" class="form-control" placeholder="Enter the charges" name="charges">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>

      </form>
    </div>
  </nav>