{% extends "base.html" %}

{% block content %}
    <div class='container'>
        <div class='row'>
            {% if renters %}
                <p>Found {{renters|length}} bike lessors in {{message}}</p>
            {% else %}
                <p>No bike lessors available in {{message}}</p>
            {% endif %}
        </div>

        <div class='row'>
            {% if renters %}
                {% for renter in renters %}
                    <div class='col-sm-6 col-md-3'>
                        <p>{{renter.first_name}}</p>
                        <p>{{renter.contact}}</p>
                        <img src="{{renter.image.url}}" alt="Bicycle Image" height="250px" width="auto">
                    </div>
                {%endfor%}
            {% endif %}
        </div>
    </div>
{%endblock%}